.about{
    position: relative;

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(min-content,1fr));
        gap: 3rem;

        @media only screen and (max-width:$bp-small){
            grid-template-columns: minmax(min-content,1fr);

        }
    }

    &__pictures{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__image{
        z-index: 1;
        display: block;
        width: 100%;
        max-width: 50rem;        
        border-radius: 50%;
        animation: float ease 3s infinite;
        @media only screen and (max-width:$bp-small){
            max-width: 30rem;
        }
    }

    &-details{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        &--frontend{}
        &--backend{}
        &--mobile{}

        &-title{
            font-size: $font-md;
            color: var(--text-100);
            font-weight: 900;
            margin-bottom: $mb-sm;
        }
        &-description{
            font-size: $font-default;
            color: var(--text-100);
            font-weight: 500;
            margin-bottom: $mb-lg;
        }
        &-resume{
            @media only screen and (max-width:$bp-small){
                margin-bottom: $mb-md;
            }
        }
    }
}

