.contact{
    grid-column: center-start/center-end;
    grid-row: 3/4;
    margin-bottom: $mb-lg;
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(min-content,1fr));
        gap: 3rem;
    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        padding: 3rem;
        border-radius: 1rem;
        line-height: 1.5;
        background-color: var(--bg-color);

        &-title{
            color: #fff;
        }
    }

    &__details{
        display: grid;
        grid-template-rows: repeat(2,min-content);
        color: var(--text-100);
        gap: 2rem;

        &__description{
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;

            a{
                text-decoration: none;
                color: var(--text-color);
            }
            a:hover{
                border-bottom: 1px solid var(--text-color);
            }
        }

        &__info{
        }
        &__socials__list{
            display: flex;
            text-decoration: none;
            list-style: none;
            ion-icon{
                width: 3rem;
                height: 3rem;
                fill: var(--text-color);
                margin-right: 1rem;
            }
            align-self: flex-end;
        }

        &--freelance, &--email, &--residence{
            display: grid;
            grid-template-columns: min-content 1fr;
            align-items: center;
            gap: 2rem;
            margin-bottom: $mb-sm;
        }

        &__icon{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            padding: 1rem;
            border: 1px solid var(--text-color);

            ion-icon{
                width: 100%;
                height: 100%;
                fill: inherit;
            }
        }

        &-title{
            font-size: $font-default;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        &-info{
            font-size: $font-sm;
            font-weight: 500;
        }
    }
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: $mb-sm;
    width: 100%;

    input, textarea{
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        outline: none;
    }

    textarea{
        margin-bottom: $mb-sm;
    }

    label{
        color: #fff;
        font-size: $font-sm;
        margin-bottom: 5px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.result{
    color: var(--text-100);
    font-size: $font-sm;
    margin-top: $mb-sm;
}

