.header{
    background-color: var(--bg-100);
    grid-column: center-start/center-end;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: $grid-gap;

    & > * {
        padding: 2rem;
        margin-top: 7rem;
    }

    &__hero{
        color: var(--text-color);
    }

    &__intro{
        position: relative;
        z-index: 1;

        &--start{
            font-size: $font-default;
            margin-bottom: $mb-sm;
            font-weight: 700;
        }
        &--middle{
            font-size: $font-lg;
            font-weight: 900;
            margin-bottom: $mb-sm;
        }
        &--end{
            font-size: $font-sm;
            line-height: 1.5;
            font-weight: 500;
            width: 70%;
            margin-bottom: $mb-lg;

        }

        &-button{
            &--1{
                margin-right: $mr-sm;
            }
            &--2{
                
            }
        }
    }
    &__pictures{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__image{
        z-index: 1;
        display: block;
        width: 100%;
        max-width: 50rem;
        border-radius: 50%;
        animation: float ease 3s infinite;
    }


}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
}


