.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content,1fr));

  &__title{}
  &__subtitle{
  }
}

.projects__grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content,1fr));
  grid-template-rows: repeat(2, minmax(min-content,1fr));

  @media only screen and (max-width:$bp-small){
    display: flex;
    flex-direction: column;
    gap: $grid-gap;
  }

}

.project__grid{
    &__title{
      color: var(--text-color);
      font-size: $font-md;
      font-weight: 900;
      margin-bottom: $mb-md;
      text-align: center;

      @media only screen and (max-width:$bp-small){
        text-align: start;
      }
    }
    &--web{
      grid-row: 1/-1;
      display: grid;
      @media only screen and (max-width:$bp-small){
        display: flex;
        width: 100%;
        flex-direction: column;
      }

    }
    &--mobile{

    }
    &--sass{
    }
}

.project-card{
  margin-bottom: $mb-lg;
  padding: 0 3rem;
  align-self: start;
  position: relative;
  transition: all 0.5s;

  @media only screen and (max-width:$bp-small){
    width: 100%;
    height: 55vw;
    align-self: center;
    margin-bottom: $mb-sm;
    padding: 0;
    margin-bottom: 6rem;
  }

  &--inner{
    position: relative;
    width: 100%;
    height: 35rem;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-bottom: $mb-lg;

    @media only screen and (max-width:$bp-small){
      height: 100%;
    }
    
    
  }

  &--face1, &--face2{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &--face2{
      display: grid;
      grid-template-columns: minmax(min-content,2fr) minmax(min-content,1fr) ;
      justify-items: center;
      transform: rotateY(180deg);
      border: 1px solid var(--text-color);
      border-radius: 1rem;
      padding: 2rem;

  }

  &:hover &--inner{
      transform: rotateY(180deg);
  }

  &__image{
    width: 100%;
    border-radius: 1rem;

    @media only screen and (max-width:$bp-small){
      height: 100%;
      object-fit: contain;
    }
  }

  &__title{
      color: var(--text-100);
      font-size: $font-md;
      margin-bottom: $mb-sm;
  }
  &__skills{
      color: var(--text-100);
      font-size: $font-sm;
      list-style: none;

      &-title{
          display: inline-block;
          font-size: $font-default;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 1rem;
          border-bottom: 1px solid var(--text-color);
          font-weight: 500;
      }

  }

  &__skill{
      font-size: 1.5rem;
      margin-bottom: 3px;
      font-weight: 500;
  }

  &__description{
      font-size: $font-default;
      color: var(--text-100);
  }

  &__links{
      margin-top: 2rem;
      grid-column: 1/-1;
      justify-self: flex-start;
  }

  &__link{
      margin-top: 2rem;
      &--demo{
          text-decoration: none;
          display: inline-block;
          margin-right: $mr-sm;
      }
      &--source{
          text-decoration: none;
          display: inline-block;
      }

  }
}

// sass projects
.sass__project{
    display: grid;
    grid-template-columns: 3fr minmax(min-content,1fr);
    color: var(--text-color);
    gap: 3rem;

    @media only screen and (max-width:$bp-small){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__image{
      display: block;
      width: 100%;
      border-radius: 1rem;
    }

    &__details{
      @media only screen and (max-width:$bp-small){
        width: 100%;
        position: relative;
      }
      
    }

    &__title{
      font-size: $font-default;
    }

    &__description{
      font-size: $font-sm;
      line-height: 1.25;
      margin-bottom: $mb-sm;
      @media only screen and (max-width:$bp-smallest){
        width: 50%;
      }
        
    }

    &__links{
      display: flex;
      @media only screen and (max-width:$bp-small){
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      @media only screen and (max-width:$bp-smallest){
        padding: 1rem;
        a:first-of-type {
          margin-right: 1rem;
        }
        a{
          font-size: $font-sm;
        }
      }
    }
}

// mobile projects
.mobile__projects {
    &__slider-wrapper {
      position: relative;
      overflow: hidden;
    }
    &__slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    &__slide {
      min-width: 100%;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      display: none;
  
      &.active {
        opacity: 1;
        display: block;
      }
      
      // All image screenshots must be 440x870
      &__image {
        display: block;
        height: 80rem;
        position: relative;
        margin: 0 auto;
      }
  
      &__details {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $mb-md;

      }
  
      &__title {
        color: var(--text-color);
        font-size: $font-default;
        margin-right: $mr-sm;
      }

      &__description{
        color: var(--text-color);
        font-size: $font-sm;
        text-align: center;
        margin-top: $mb-md;
      }
  
      &__button {
        border: none;
        cursor: pointer;
        text-decoration: none;
  
        &:hover {

        }
      }
    }
  
    &__prev,
    &__next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--accent-200);
      opacity: .8;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      transition: all .02s;
  
      &:hover {
        opacity: 1;
      }
    }
  
    &__prev {
      left: 10px;
    }
  
    &__next {
      right: 10px;
    }
}
  
