.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content,1fr));

    &__title{}
    &__subtitle{
    }
}

.projects__grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content,1fr));
    grid-template-rows: repeat(2, minmax(min-content,1fr));

}

.project__grid{
    &--web{
        grid-row: 1/-1;
        display: grid;
        grid-template-rows: (4, 20rem);
    }
    &--mobile{

        background-color: blue;
    }
    &--sass{
        background-color: orange;
    }
}

.project-card{
    margin-bottom: $mb-lg;
    padding: 0 3rem;
    align-self: start;
    position: relative;
    transition: all 0.5s;

    &--face1{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
        z-index: 10;
    }

    &--face2{
        position: absolute;
        width: 100%;
        transform: translateY(-25rem);
        transition: all 0.5s;
        z-index: -1;
        opacity: 0;
        top: 0;
        display: grid;
        grid-template-columns: minmax(min-content,2fr) minmax(min-content,1fr) ;
        justify-items: center;
    }

    &:hover &--face2{
        position: relative;
        top: 100%;
        transform: translateY(0);
        opacity: 1;
    }

    &__image{
        width: 100%;
        border-radius: 1rem;

    }

    &__title{
        color: $text-100;
        font-size: $font-md;
        margin-bottom: $mb-sm;
    }
    &__skills{
        color: $text-100;
        font-size: $font-sm;
        list-style: none;

        &-title{
            display: inline-block;
            font-size: $font-default;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 1rem;
            border-bottom: 1px solid $color-white;
            font-weight: 500;
        }

    }

    &__skill{
        font-size: 1.5rem;
        margin-bottom: 3px;
        font-weight: 500;
    }

    &__description{
        font-size: $font-default;
        color: $text-100;
    }

    &__links{
        margin-top: 2rem;
        grid-column: 1/-1;
        justify-self: flex-start;
    }

    &__link{
        margin-top: 2rem;
        &--demo{
            text-decoration: none;
            display: inline-block;
            margin-right: $mr-sm;
        }
        &--source{
            text-decoration: none;
            display: inline-block;
        }

    }
}