*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: 1fr [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr;
  grid-template-rows: 100vh;
  background-color: #0F1C2E;
}

.main {
  grid-column: center-start/center-end;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #cee8ff;
  margin-bottom: 4.5rem;
}

.header {
  background-color: #0F1C2E;
  grid-column: center-start/center-end;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 3rem;
}
.header > * {
  padding: 2rem;
  margin-top: 7rem;
}
.header__hero {
  color: #fff;
}
.header__intro {
  position: relative;
  z-index: 1;
}
.header__intro--start {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.header__intro--middle {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.header__intro--end {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  margin-bottom: 4.5rem;
}
.header__intro-button--1 {
  margin-right: 3rem;
}
.header__pictures {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.header__image {
  z-index: 1;
  display: block;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(55, 67, 87, 0.1), 0 4px 30px rgba(55, 67, 87, 0.5), 0 4px 30px rgba(55, 67, 87, 0.5);
  animation: float ease 3s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
.header-background {
  z-index: 1;
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  background-image: linear-gradient(to right, rgba(15, 28, 46, 0.7), rgba(15, 28, 46, 0.7)), url("../img/trees.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.nav {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 1fr minmax(min-content, 4fr) 1fr minmax(max-content, 1fr);
  background-color: #0F1C2E;
  padding: 2rem;
  font-size: 2.5rem;
  align-items: center;
  border-radius: 1rem;
  margin-top: 4rem;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(55, 67, 87, 0.1), 0 4px 30px rgba(55, 67, 87, 0.5), 0 4px 30px rgba(55, 67, 87, 0.5);
}
.nav__logo {
  cursor: pointer;
  grid-column: 1/2;
}
.nav__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  grid-column: 3/4;
}
.nav__link {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 5/6;
}
.nav__cta {
  margin-right: 1rem;
}
.nav__theme-switcher {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 4px 30px rgba(55, 67, 87, 0.1), 0 4px 30px rgba(55, 67, 87, 0.5), 0 4px 30px rgba(55, 67, 87, 0.5);
  color: #3D5A80;
  background-color: #fff;
}
.btn a {
  text-decoration: none;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}
.games__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 50rem));
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}

.game-card {
  width: 50rem;
  background-color: #1f2b3e;
  padding: 3rem;
  border-radius: 1rem;
  height: 100%;
}
.game-card__image {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
.game-card__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}
.game-card__description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  height: 5rem;
}
.game-card__link--demo {
  margin-right: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}
.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
}

.project__grid--web {
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 4, 20rem;
}
.project__grid--mobile {
  background-color: blue;
}
.project__grid--sass {
  background-color: orange;
}

.project-card {
  margin-bottom: 4.5rem;
  padding: 0 3rem;
  align-self: start;
  position: relative;
  transition: all 0.5s;
}
.project-card--face1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  z-index: 10;
}
.project-card--face2 {
  position: absolute;
  width: 100%;
  transform: translateY(-25rem);
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
  top: 0;
  display: grid;
  grid-template-columns: minmax(min-content, 2fr) minmax(min-content, 1fr);
  justify-items: center;
}
.project-card:hover .project-card--face2 {
  position: relative;
  top: 100%;
  transform: translateY(0);
  opacity: 1;
}
.project-card__image {
  width: 100%;
  border-radius: 1rem;
}
.project-card__title {
  color: #FFFFFF;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.project-card__skills {
  color: #FFFFFF;
  font-size: 1.5rem;
  list-style: none;
}
.project-card__skills-title {
  display: inline-block;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  font-weight: 500;
}
.project-card__skill {
  font-size: 1.5rem;
  margin-bottom: 3px;
  font-weight: 500;
}
.project-card__description {
  font-size: 2.5rem;
  color: #FFFFFF;
}
.project-card__links {
  margin-top: 2rem;
  grid-column: 1/-1;
  justify-self: flex-start;
}
.project-card__link {
  margin-top: 2rem;
}
.project-card__link--demo {
  text-decoration: none;
  display: inline-block;
  margin-right: 3rem;
}
.project-card__link--source {
  text-decoration: none;
  display: inline-block;
}

.slider, .slider2 {
  position: relative;
  grid-column: center-start/center-end;
  width: 100%;
  height: 7rem;
  min-width: 85rem;
  overflow: hidden;
  background-color: #374357;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.slider .list, .slider2 .list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 7rem;
}
.slider .list .item, .slider2 .list .item {
  width: 5rem;
  height: 7rem;
  position: absolute;
  left: 100%;
  animation: autorun 10s linear infinite;
  animation-delay: calc(0.5882352941s * (var(--position) - 1));
  margin: 1rem;
}
.slider .list .item img, .slider2 .list .item img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider2 .list .item {
  animation-direction: reverse;
}

@keyframes autorun {
  from {
    left: 100%;
  }
  to {
    left: -5rem;
  }
}/*# sourceMappingURL=main.css.map */